*,*:before,*:after{box-sizing:border-box;margin:0;padding:0;}
html body{
    font-family:'Oswald', sans-serif;
    background-color:#594334;
}

#c{
    display:table; 
    table-layout:fixed;
    width:100%;
}

#body{
    display:table-cell;
    min-height:400px;
    padding:20px;
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(227,232,234,1) 100%); /* W3C */
}

#sidebar ul{
    list-style:none;
}
#sidebar ul li{
    padding:0;
}

#sidebar a{
    text-decoration:none;
}
#sidebar{
display:table-cell;
padding:10px;
box-shadow:inset -1px 1px rgba(240,240,240, .1), inset 0 -1px rgba(240,240,240,.1), inset -50px 5px 50px rgba(255,255,255,.1);

background-color:#33261E;
    width:250px;

}
#sidebar a, #sidebar{color:#EDE4E4}
#sidebar>div>ul>li {
    font-size:1.25em;
}
#sidebar li{margin-left:1.5em;}
footer{
    height:150px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(23,9,0,0.5) 27%,rgba(86,34,0,0) 100%); /* W3C */
    font-size:9pt;
    color:#aaa;
    text-align:center;
    font-family:arial;
    padding-top:10px;
}
footer p{
    width:50%;
    margin:0 auto;

}
header{
    height:150px;
    background: linear-gradient(to bottom, rgba(86,34,0,0) 0%,rgba(23,9,0,0.5) 73%,rgba(0,0,0,0.5) 100%); /* W3C */
}
